<div class="card bg-base-100 mb-6">
  <div class="card-body p-5">
    <%= search_form_for @q, url: sales_reports_path do |f| %>
      <div class="flex flex-wrap items-end gap-3">
        <% search_form_fields.each do |field| %>
          <div class="w-[calc(16%-0.75rem)]">
            <%= search_form_field(f, field[:name], t("sales_reports.search.fields.#{field[:name]}"), field_type: field[:field_type]) %>
          </div>
        <% end %>
        <div class="w-[calc(10%-0.75rem)]">
          <%= link_to t("sales_reports.search.reset"), sales_reports_path, class: "btn btn-ghost btn-sm hover:btn-error w-full" %>
        </div>
        <div class="w-[calc(10%-0.75rem)]">
          <%= f.submit t("sales_reports.search.submit"), class: "btn btn-primary btn-sm w-full" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
