<%# app/views/sales_reports/_table.html.erb %>
<div class="card bg-base-100 shadow-xl overflow-x-auto">
  <div class="card-body p-0">
    <table class="table table-zebra w-full">
      <%= render 'table_header' %>
      <%= render 'table_body', orders_data: orders_data %>
    </table>
  </div>
</div>
