<%# app/views/sales_reports/index.html.erb %>
<% content_for(:title, t("sales_reports.index.title")) %>

<div class="w-full p-6">
  <%= render 'csv_import_form' %>
  <%= render 'table', orders_data: @orders_data %>
</div>
