:root {
  /* サイドバー関連の変数を削除 */
}

[ignore-variables] {
  --main-content-background: initial;
  --topbar-background: initial;
}

.topbar-wrapper {
  background: var(--topbar-background);
}

.main-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background: var(--main-content-background);
}

.content-wrapper {
  @apply p-4;
}
