<%# フラッシュメッセージ %>
<div class="w-full space-y-3" data-controller="flash-container">
  <% flash.each do |type, message| %>
    <%
      flash_class = case type.to_s
        when 'notice' then 'alert alert-info'
        when 'success' then 'alert alert-success'
        when 'warning' then 'alert alert-warning'
        when 'alert' then 'alert alert-error'
        else 'alert'
      end

      icon_class = case type.to_s
        when 'notice', 'info' then 'info'
        when 'success' then 'check-circle'
        when 'warning' then 'alert-triangle'
        when 'alert', 'error' then 'alert-octagon'
        else 'info'
      end
    %>
    <div data-controller="flash"
         class="<%= flash_class %> transition-all duration-300 ease-in-out"
         role="alert">
      <iconify-icon icon="lucide:<%= icon_class %>" height="16"></iconify-icon>
      <span><%= message %></span>
      <button data-action="flash#close" class="btn btn-ghost btn-xs">
        <iconify-icon icon="lucide:x" height="16"></iconify-icon>
      </button>
    </div>
  <% end %>
</div>
