<div role="navigation" aria-label="Navbar" class="topbar-wrapper navbar z-10 border-b border-base-200 px-3">
  <div class="navbar-start gap-3">
    <button aria-label="Leftmenu toggle" data-action="leftbar-toggle" class="btn btn-square btn-ghost btn-sm">
      <iconify-icon icon="lucide:menu" height="20"></iconify-icon>
    </button>

    <%# <%= render 'shared/search_button' %>
  </div>

  <div class="navbar-center"></div>

  <div class="navbar-end gap-1.5">
    <button aria-label="Theme toggler" class="btn btn-circle btn-ghost btn-sm" data-action="theme-toggle">
      <iconify-icon icon="lucide:sun" height="20" class="hidden dark:inline"></iconify-icon>
      <iconify-icon icon="lucide:moon" height="20" class="inline dark:hidden"></iconify-icon>
    </button>

    <%# <%= render 'shared/notification_dropdown' %>
    <%# <%= render 'shared/profile_dropdown' %>
  </div>
</div>
