<li>
  <%= link_to t('shared.header.reports'), sales_reports_path, class: "hover:bg-base-content/15" %>
</li>
<li></li>
  <%= link_to t('shared.header.pl_report'), plreports_path, class: "hover:bg-base-content/15" %>
</li>
