<div class="absolute top-4 right-4">
  pages/landing.html.erb

  <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-ghost btn-sm" do %>
    <iconify-icon icon="lucide:log-out" height="16" class="me-2"></iconify-icon>
    サインアウト
  <% end %>
</div>
