<%# メールアドレス変更通知メール %>
<p><%= t('.greeting', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.message_unconfirmed', email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('.message_confirmed', email: @resource.email) %></p>
<% end %>
